body {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    background: linear-gradient(60deg, #0d1a33, #3265c2) no-repeat center fixed;
}

h1 {
    font-size: 50px;
    margin: 10px;
}

h3, h2, h4 {
    font-size: 40px;
    margin: 10px;
}

#puissance4 {
    /*background-color: #3062b6;*/
    display: inline-block;
    border-radius: 5%;
    border: 5px solid #0e1c36;
    margin: 10px;
    box-shadow: 5px 5px 5px #0e1c36;
    position : relative;
    z-index : 2;
}

.col {
    width: 70px;
    height: 70px;
    display: inline-block;
    /*background-color: #112242;*/
    border-radius: 50%;
    margin: 5px;
    box-shadow: inset 0px 0px 10px #000;
}

.col.vide {
    cursor: pointer;
}

.next-Rouge {
    background-color: rgba(255, 0, 0, 0.5);
}

.next-Jaune {
    background-color: rgba(255, 236, 0, 0.5);
}

.col.Rouge {
    background-color: red;
    background-image: radial-gradient(red, darkred);
}

.col.Jaune {
    background-color: yellow;
    background-image: radial-gradient(yellow, goldenrod);
}

#restart {
    display: block;
    width: 180px;
    height: 50px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #fff;
    background-color: #3062b6;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #0e1c36;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    outline: none;
    margin: 10px auto 0;
    font-weight: bold;
    border: 3px solid #0e1c36;
}

.Rouge {
    color : red;
}

.Jaune {
    color : yellow;
}

#restart:hover, #reset:hover {
    cursor : pointer;
}

.main {
    position: relative;
    width : 600px;
    margin : auto;
}

#jeton {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    z-index : 1;
}

.jw {
    --border-width: 3px;
    position: relative;
    border-radius: 50%;
}
.jw::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) *2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(90deg, #00fffe, #0043ff);
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: 50%;
    animation: moveGradient 2s infinite;
}
@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}